<ion-header>
  <ion-toolbar>
    <ion-title>Détails du membre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/famille"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="membre">
  <!-- Carte avec l'image -->
  <ion-card>
    <ion-img [src]="membre.photo" alt="{{ membre.prenom }} {{ membre.nom }}" class="membre-photo"></ion-img>
  </ion-card>

  <!-- Carte avec les informations -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ membre.prenom }} {{ membre.nom }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ membre.prenom }} est un <strong>{{ membre.sexe }}</strong> de <strong>{{ membre.age }}</strong> ans. </p>
      <p *ngIf="membre.sexe == 'Homme'">C'est ton <strong>{{ membre.lien }}</strong></p>
      <p *ngIf="membre.sexe == 'Femme'">C'est ta <strong>{{ membre.lien }}</strong></p>
    </ion-card-content>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="danger" (click)="onDelete(membre.id)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Supprimer
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="onModif()">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Modifier
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
</ion-content>
