.membre-detail {
    text-align: center;
  }
  
  .membre-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
  }
  

  ion-col {
    border: solid 1px #b3b3b3;
    text-align: center;
  }