ion-toolbar {
  --background: linear-gradient(135deg, #4a90e2, #45c5dc);
  color: white;
}

.custom-list {
  border-radius: 12px;
  padding: 10px;
}

.custom-item {
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  background-color: #ffffff;
}



.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

ion-icon {
  margin-right: 5px;
  color: #4a90e2;
}

p {
  margin: 2px 0;
  font-size: 0.9rem;
  color: #666;
}
